<div class="container my-5">
    <h3 class="mb-3">Agregar nuevo empleado</h3>

<div class="row">
    <div class="col-6">
    <form #form="ngForm" (ngSubmit)="adduser()">
        <div class="mb-3">
            <label for="documentNumber" class="form-label">Documento</label>
            <input type="text" class="form-control" id="documentNumber" 
            name="documentNumber" [(ngModel)] = "adduserRequest.documentNumber">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" 
            name="name" [(ngModel)] = "adduserRequest.name">
        </div>
        <div class="mb-3">
            <label for="fathersLastName" class="form-label">Apellido paterno</label>
            <input type="text" class="form-control" id="fathersLastName" 
            name="fathersLastName" [(ngModel)] = "adduserRequest.fathersLastName">
        </div>
        <div class="mb-3">
            <label for="mothersLastName" class="form-label">Apellido materno</label>
            <input type="text" class="form-control" id="mothersLastName" 
            name="mothersLastName" [(ngModel)] = "adduserRequest.mothersLastName">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="address" 
            name="address" [(ngModel)] = "adduserRequest.address">
        </div>
        <button type="submit" class="btn btn-primary">ADD</button>
    </form>
    </div>
</div>
</div>